<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <title>Vue Grid</title>

    <style>

     h1 {
         background-color: #3a5fcd;
         color: white;
         text-align: center;
     }
     div {
         border-style: solid;
         border-width: 0.5px;
         border-color: black;
     }
     .col-sm {
         padding: 20px;
     }
     .event {
         padding: 4px;
         border-style: none;
     }
     #headline {
         color: white;
         background-color: #d8d8d8;
         text-align: center;
     }

    </style>

  </head>

  <body>

    <h1>Vue Grid</h1>

    <div id="grid" class="container-fluid">

      <div id="headline" class="row">
        <div id="00" class="col-sm">
          <strong>Montag</strong>
        </div>
        <div id="01" class="col-sm">
          <strong>Dienstag</strong>
        </div>
        <div id="02" class="col-sm">
          <strong>Mittwoch</strong>
        </div>
        <div id="03" class="col-sm">
          <strong>Donnerstag</strong>
        </div>
        <div id="04" class="col-sm">
          <strong>Freitag</strong>
        </div>
      </div>

      <div v-for="(usr, usrIdx) in appointments" v-bind:id="[usrIdx]" class="row">
        <div v-for="(day, dayIdx) in appointments[usrIdx]" v-bind:id="[dayIdx]" class="col-sm">
          <div v-for="(appointment, appointmentIdx) in appointments[usrIdx][dayIdx]" v-bind:id="[appointmentIdx]" v-on:click="alert('click')" v-html="grid.appointments[usrIdx][dayIdx][appointmentIdx].appointment">
            <!-- <div v-on:click="alert('click')" v-html="grid.appointments[usrIdx][dayIdx][appointmentIdx].appointment"></div> -->
          </div>
        </div>
      </div>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" -->
    <!-- integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" -->
    <!-- crossorigin="anonymous"> -->
    <!-- </script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" -->
    <!-- integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" -->
    <!-- crossorigin="anonymous"> -->
    <!-- </script> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" -->
    <!-- integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" -->
    <!-- crossorigin="anonymous"> -->
    <!-- </script> -->
    <script type="text/javascript">
     var grid = new Vue({
         el: '#grid',
         data: {
             message: 'Hello Vue!',
             appointments: []
         }
     })
     // grid dimensions
     const cols = 5;
     const rows = 100;
     const cellEvents = 20;

     const events = cols * rows * cellEvents;

     // dimensions info in h1
     var h1 = document.querySelector('body > h1');
     h1.textContent += ' (' + events + ' events)';

     var clickFunction = function () {alert('click')};

     function randomDate (start, end) {
         return new Date(start.getTime() + Math.random() * (end.getTime() - start.getTime()));
     }

     function formatDate (date) {
         // ex: "5 Januar 2018 5:50"
         var monthNames = [
             "Januar", "Februar", "März",
             "April", "Mai", "Juni", "July",
             "August", "September", "Oktober",
             "November", "Dezember"
         ];

         var minute = date.getMinutes();
         var hour = date.getHours();
         var day = date.getDate();
         var monthIndex = date.getMonth();
         var year = date.getFullYear();
         var pad = '00';
         return day + '. ' + monthNames[monthIndex] + ' ' + year + ' ' +
              (pad+hour).slice(-pad.length) + ':' + (pad+minute).slice(-pad.length);
     }

     function randomAlertStyle () {
         // bootstrap alert classnames
         const styles = ['alert-primary',
                         'alert-secondary',
                         'alert-success',
                         'alert-danger',
                         'alert-warning',
                         'alert-info',
                         'alert-dark'
         ];
         return styles[Math.floor(Math.random()*styles.length)];
     }


     function buildEvent () {
         // colored div with event date and onClick listener
         var date = formatDate(randomDate(new Date(), new Date(2018, 0, 12)));
         var node = document.createElement('div');
         // neeeded because v-html directive expects string. We give container.innerHTML
         var container = document.createElement('div');
         node.className = randomAlertStyle();
         node.className += ' event';
         node.innerHTML = date;
         container.appendChild(node);
         return container;
     }

     function genGrid () {
        /** build rows, columns; fill with appointments
            grid-structure:

            [ // users (rows)
                [ // usr-week (row)
                    [{monday-appointment-00}, {...}], // usr-day (column)
                    [{tuesday-appointment-00}],
                    [...],
                    [...],
                    [...]
                ],
                [...], ...
            ]

        **/
        // usr
        for (var usrIdx=0; usrIdx<rows; usrIdx++) {
            grid.appointments.push([]);
            // day
            for (var dayIdx=0; dayIdx<cols; dayIdx++) {
                grid.appointments[usrIdx].push([]);
                // appointment
                for (var appointmentIdx=0; appointmentIdx<cellEvents; appointmentIdx++) {
                    var a = buildEvent();
                    grid.appointments[usrIdx][dayIdx].push({appointment: a.innerHTML});
                }
            }
        }
     }

     genGrid();

     /* for (var usrIdx=0; usrIdx<grid.appointments.length; usrIdx++) {*/
     /* console.log('usr: ' + usrIdx);*/
     /* for (var dayIdx=0; dayIdx<grid.appointments[usrIdx].length; dayIdx++) {*/
     /* console.log('day: ' + dayIdx);*/
     /* for (var appointmentIdx=0; appointmentIdx<grid.appointments[usrIdx][dayIdx].length; appointmentIdx++) {*/
     /* console.log(grid.appointments[usrIdx][dayIdx][appointmentIdx].text);*/
     /* }*/
     /* }*/
     /* }*/
     /* const events = cols * rows * cellEvents;*/
     /* for (var usrIdx=0; usrIdx<grid.appointments.length; usrIdx++) {*/
     /* console.log('usr: ' + usrIdx);*/
     /* for (var dayIdx=0; dayIdx<grid.appointments[usrIdx].length; dayIdx++) {*/
     /* console.log('day: ' + dayIdx);*/
     /* for (var appointmentIdx=0; appointmentIdx<grid.appointments[usrIdx][dayIdx].length; appointmentIdx++) {*/
     /* console.log(grid.appointments[usrIdx][dayIdx][appointmentIdx].text);*/
     /* }*/
     /* }*/
     /* }*/
     /* grid.appointments.push([{ text: 'day 0' }], [{ text: 'day 1' }], [{ text: 'day 2' }], [{ text: 'day 3' }], [{ text: 'day 4' }]);*/

    </script>
  </body>
</html>
